.navigation{
    padding-top: 3ch;
    padding-bottom: 3ch;
    padding-left: 5ch;
}
header{
    background-image: url(IMAGES/background2.avif) ;
    background-size: 100%;
}
.main-heading{
    text-align:center ;
}
